<!-- navbar start -->
<nav class="navbar navbar-expand-lg bg-body-black fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Netflix Dupe</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto
  harum voluptate deleniti veniam, laborum, officia corporis repellendus tempora
  corrupti cupiditate aliquid vero nam facilis, eos reiciendis nesciunt optio
  cum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
  provident totam, ipsam quibusdam qui nam veniam beatae, earum ab, reiciendis
  suscipit eos deserunt tempora nesciunt nisi temporibus. Eveniet, repellendus
  distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
  similique perferendis tempore, minima at officia voluptate corrupti atque
  aspernatur unde consequuntur, velit labore tempora laborum cum magni
  temporibus necessitatibus hic. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Veniam architecto delectus, earum expedita ullam eum
  excepturi veritatis, obcaecati illum dolore nostrum magnam soluta cum voluptas
  quidem nemo ad ex quas? Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Voluptates quidem fugit quos deleniti porro vitae, provident sapiente,
  obcaecati excepturi suscipit molestiae enim nemo perspiciatis minima ea
  delectus dolorum adipisci reprehenderit.
</p>

<router-outlet></router-outlet>
