<banner-carousel [banner]="bannerResult"></banner-carousel>

<div class="contain mt-3 p-4">
  <!-- trending movies -->
  <h5 class="text-white">Trending Movies</h5>
  <genre-poster [genres]="trendingMovieResult"></genre-poster>
  <!-- trending tv -->
  <h5 class="text-white">Trending TV</h5>
  <genre-poster [genres]="trendingTvResult"></genre-poster>
  <!-- romance -->
  <h5 class="text-white">Romance Movies</h5>
  <genre-poster [genres]="movieGenres.romanceMovieResult"></genre-poster>
  <!-- action -->
  <h5 class="text-white">Action Movies</h5>
  <genre-poster [genres]="movieGenres.actionMovieResult"></genre-poster>
  <!-- comedy -->
  <h5 class="text-white">Comedy Movies</h5>
  <genre-poster [genres]="movieGenres.comedyMovieResult"></genre-poster>
  <!-- horror -->
  <h5 class="text-white">Horror Movies</h5>
  <genre-poster [genres]="movieGenres.horrorMovieResult"></genre-poster>
  <!-- drama -->
  <h5 class="text-white">Drama Movies</h5>
  <genre-poster [genres]="movieGenres.dramaMovieResult"></genre-poster>
  <!-- thriller -->
  <h5 class="text-white">Thriller Movies</h5>
  <genre-poster [genres]="movieGenres.thrillerMovieResult"></genre-poster>
  <!-- documentary -->
  <h5 class="text-white">Documentary Movies</h5>
  <genre-poster [genres]="movieGenres.documentaryMovieResult"></genre-poster>
  <!-- animation -->
  <h5 class="text-white">Animation Movies</h5>
  <genre-poster [genres]="movieGenres.animationMovieResult"></genre-poster>
  <!-- fantasy -->
  <h5 class="text-white">Fantasy Movies</h5>
  <genre-poster [genres]="movieGenres.fantasyMovieResult"></genre-poster>
  <!-- international -->
  <h5 class="text-white">International Movies</h5>
  <genre-poster [genres]="movieGenres.internationalMovieResult"></genre-poster>
  <!-- bollywood -->
  <h5 class="text-white">bollywood Movies</h5>
  <genre-poster [genres]="movieGenres.bollywoodMovieResult"></genre-poster>
  <!-- scifi -->
  <h5 class="text-white">Sci-Fi Movies</h5>
  <genre-poster [genres]="movieGenres.scifiMovieResult"></genre-poster>
  <!-- mystery -->
  <h5 class="text-white">Mystery Movies</h5>
  <genre-poster [genres]="movieGenres.mystryMovieResult"></genre-poster>
  <!-- teen drama -->
  <h5 class="text-white">Teen Drama Movies</h5>
  <genre-poster [genres]="movieGenres.teenDramaMovieResult"></genre-poster>
</div>
